.heading{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    width: fit-content;
    margin: auto;
}

 .input-box input{
    width: 250px;  
} 







.input-box label{
    padding:10px;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    background: #fff;
    font-family: sans-serif;
    font-size: 15px;
}



input:focus + label, input:not(:placeholder-shown) + label {
    opacity:1;
    transform: scale(0.75) translateY(-70%) translateX(-14px);
}







  

.input-box .btn{
    cursor: pointer;
    width: 128px;
    display: flex;
    align-items: center;
    gap: 26px;
    border-radius: 8px;
    height: 50px;
    color: #fff;
    padding-left: 20px;
    background-color: #3f51b5;
    border-radius: 5px;
    border-color: #2e3c89;
    position: relative;
    overflow: hidden;
}
.input-box .btn:after{
    content: "";
    background: #6a7ad1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.input-box .btn:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.todo-box{
    width: 500px;
    height: 250px;
    background-color: rgb(214, 212, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.task-active{
    background-color: rgb(214, 212, 212);
}

.task-completed{
    background-color: lightgreen;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.todo-box .buttons{
   display: flex;
   gap: 50px;
   
   
}

.buttons .btn{
    cursor: pointer;
    width: 128px;
    display: flex;
    align-items: center;
    gap: 26px;
    border-radius: 8px;
    height: 50px;
    color: #fff;
    padding-left: 20px;
    transition: all 0.5s ease;

}

.buttons .btn:hover{
    transform: scale(1.1);
}

.btn.delete{
    background-color: #f50057;
    border-color: #eb0153;
}
.btn.delete:hover{
    background-color: #d2014a;
}
.btn.finish{
    background-color: #3f51b5;
    border-color: #324196;
}

.btn.finish:hover{
    background-color: #2e3c89;
}